@{
    ViewData["Title"] = "Zarządzanie firmą transportową";
}

<div class="text-center">
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="Cars" asp-action="Index" role = "button">Samochody</a>
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="Trailers" asp-action="Index" role="button">Naczepy</a>
    <a class="btn btn-primary m-3 p-3" asp-area="" asp-controller="Users" asp-action="Index" role="button">Użytkownicy</a>
</div>